.dashboardtab {
  font-size: 1.6rem;
  padding: 5px;
  position: fixed;
}
.dashboardtab .logo-name {
  font-size: 2rem;
  font-weight: 600;
  margin-top: 10px;
  margin-left: 40px;
}
.dashboardtab .tab-list {
  margin-top: 50px;
}
.dashboardtab .tab-item {
  margin-bottom: 10px;

  cursor: pointer;
  padding-left: 30px;
  opacity: 0.7;
  font-weight: 600;
  font-size: 1.5rem;
  padding-top: 20px;
  padding-bottom: 20px;
  width: 200px;
  position: relative;
}
.dashboardtab .tab-item.active {
  color: var(--third-color-orange);
  opacity: 1;
}
.dashboardtab .tab-item.active::after {
  content: "";
  width: 10px;
  border-radius: 3px;
  height: 100%;
  background-color: var(--third-color-orange);
  top: 0;
  left: -8px;
  position: absolute;
}
.dashboardtab .tab-item:hover::after {
  content: "";
  width: 10px;
  border-radius: 3px;
  height: 100%;
  background-color: var(--third-color-orange);
  top: 0;
  left: -8px;
  position: absolute;
}
.dashboardtab .tab-item:hover {
  background-color: var(--third-color-orange);
  color: var(--white-color);
  opacity: 1;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}
.dashboardtab .tab-item i,
.dashboardtab .tab-item > a {
  margin-right: 10px;
}

/* admin */
.dashboardtab .tab-list.admin {
  margin-top: 10px;
}
.dashboardtab .tab-list.admin.hide {
  display: none;
}
.dashboardtab .tab-list.admin .admin {
  background-color: rgb(255, 255, 255);
  font-size: 1.1rem;
  color: var(--third-color-orange);
  padding: 3px 5px;
  border-radius: 4px;
  margin-left: 5px;
  border: 1px solid var(--third-color-orange);
}

/* go home */
.dashboardtab__wrapper {
  position: relative;
  height: 100vh;
}
.dashboardtab__wrapper .btn-return-home {
  padding: 14px 30px;
  border-radius: 10px;
  color: var(--third-color-green);
  font-size: 1.6rem;
  font-weight: 600;
  background-color: white;
  border: 2px solid rgb(232, 255, 227);
  text-align: center;
  width: fit-content;

  margin-left: 20px;
  display: inline-block;
}
.dashboardtab__wrapper .btn-return-homex {
  position: absolute;
  bottom: 40px;
  margin-left: 10px;
  position: fixed;
}
.dashboardtab__wrapper .btn-return-home:hover {
  color: white;
  background-color: var(--third-color-green);
}
.dashboardtab__wrapper .btn-return-home:hover a {
  color: white;
}
.dashboardtab__wrapper .btn-return-home i {
  margin-right: 5px;
  margin-left: -5px;
}
