.new-update .post.post-column {
  display: flex;
  flex-direction: column !important;
}
.donate-info-option {
  margin-top: 70px;
  display: flex;
}
.donate-info-option.monthly .homepage {
  width: 30px !important;
}

.donate-info-option .homepage.session1 {
  width: 50%;
  margin-top: 0 !important;
}
.donate-info-option .new-update {
  margin-top: 0px !important;
}
.donate-info-option .new-update .image {
  width: 460px !important;
}
.donate-info-option .post-right {
  margin-left: 70px;
}

.header-page-session {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-right: 330px;
}
.header-page-session .title {
  margin-top: 20px;
  display: flex;
  align-items: center;
}
.header-page-session .title2 {
  display: flex;
  align-items: center;
  padding-left: 45px;
}
.header-page-session .title > h2 {
  margin-top: 40px;
  text-align: center;
  font-size: 3.2rem;
  opacity: 0.95;
  color: var(--third-color-green);
}
.header-page-session > .desc {
  margin-top: 0px;
  letter-spacing: 0.5px;
  line-height: 1;
  font-size: 1.6rem;
}
.header-page-session > .desc > span {
  font-weight: 600;
}
.header-page-session img {
  width: 150px;
}

/* right */
.donate-option__body {
  margin-left: 80px;
}
.donate-info-option .donate-option {
  width: 100%;
}
.donate-info-option .desc-login {
  font-size: 1.4rem;
  opacity: 0.9;
  margin-top: 20px;
}
.donate-info-option .desc-login a {
  font-size: 1.5rem;
  margin: 0 5px;
  font-weight: 600;
  text-decoration: underline;
  color: var(--third-color-green);
}
.donate-info-option .input-info {
  display: flex;
  justify-content: left;
  margin-top: 20px;
  margin-bottom: 40px;
}
.donate-info-option .input-info .name-input {
  margin-right: 30px;
}
.donate-info-option .name-input input {
  width: 330px;
  font-size: 1.5rem;
  padding: 12px 24px;
}
.donate-info-option .number-input input {
  font-size: 1.5rem;
  padding: 12px 24px;
}

/* select money */
.option-money .selected-radio {
  display: flex;
  flex-direction: row-reverse;
  justify-content: flex-end;
  margin-left: -10px;
  margin-top: 0px;
  margin-bottom: 20px;
}
.option-money {
  margin-top: 20px;
}
.option-money .hide {
  display: none;
}
.option-money .lbl-radio {
  line-height: 19px;
  height: 40px;
  padding: 9px 16px;
  margin: 10px;
  background-color: var(--white-color);
  border: 2px solid rgb(230, 230, 230);
  border-radius: 10px;
  cursor: pointer;
  font-size: 1.5rem;
  color: rgb(184, 184, 184);
}

.option-money input[type="radio"]:checked + .lbl-radio {
  border-color: var(--third-color-green);
  color: var(--text-color);
}
.option-money input[type="text"]:focus ~ label {
  border-color: rgb(184, 184, 184) !important;
  color: rgb(184, 184, 184);
}

.option-money input[type="number"] {
  padding: 19px 20px;
  height: 35px;
  width: 150px;
  margin: 10px;
  background-color: var(--white-color);
  border: 2px solid rgb(230, 230, 230);
  border-radius: 10px;
  cursor: pointer;
  font-size: 1.6rem;
  color: var(--text-color);
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* session   */
.donate-info-option .title-session {
  font-size: 2.2rem;
  margin-top: 10px;
  margin-bottom: 15px;
}
.donate-info-option .title-session.title-session--smaller {
  font-size: 2rem;
}
.donate-info-option .input-message {
  padding: 5px;
}
.donate-info-option .input-message textarea {
  font-size: 1.6rem;
  padding: 15px;
  border-radius: 10px;
  border: var(--custom-border);
  width: 80%;
  resize: none;
}
.donate-info-option .input-message textarea:focus {
  border-color: var(--third-color-green);
  outline: var(--third-color-green);
}
.donate-option__body .incognito {
  display: flex;
  align-items: center;
}
.donate-option__body .toggle-incognito {
  margin-left: 10px;
}
.pay-btn {
  width: 400px !important;
  display: block;
  text-align: center;
  margin-top: 30px;
  padding: 15px;
  margin-bottom: 50px;
  font-weight: bold;
}

/* monthly PAGE */
.donate-info-option.monthly .donate-option__body {
  display: flex;
  margin-top: 10px;
  border-radius: 20px;
  background-color: rgba(236, 236, 236, 0.363);
  margin-left: -50px;
  width: fit-content;
  padding: 30px 50px;
}
.donate-info-option.monthly .donate-option__body .right-pannel {
  width: 630px;
  margin-left: 60px;
  padding-right: 0 !important;
}
.donate-info-option.monthly .donate-option__body textarea {
  width: 100%;
  height: 170px;
}
.donate-info-option.monthly .pay-btn {
  margin-left: 350px;
  width: 450px !important;
}
.donate-info-option.monthly .header-page-session h2 p {
  margin-top: 22px;
  opacity: 0.8;
  font-size: 1.5rem;
  color: var(--text-color);
  opacity: 0.65;
}
