.img {
  width: 200px;
  height: 200px;
  object-fit: cover;
  height: 157px;
  border: 3px rgb(6, 126, 22) solid;
  border-radius: 5px;
  margin-left: 20px;
}
#input[type="file"] {
  display: none;
}

.label {
  width: 100%;
  display: flex;
}
.image-upload {
  width: 150px;
  height: 40px;
  color: white;
  border-radius: 10px;
  background-color: black;
  text-align: center;
  cursor: pointer;
}
.img-select {
  font-size: 15px;
  margin-top: 0px;
}
.img-div {
  margin-left: 30px;
}

.desc-input {
  margin-top: 5px;
  width: 200px;
  font-size: 1.6rem;
}
.txtArea {
  width: 850px;
  height: auto;
  padding: 12px 20px;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
}

.btn-delete{
  width: 70px;
  height: 20px;
  color: white;
  background-color: red;
  border-radius: 5px;
  font-weight: bold;
  margin-bottom: 1px;
}

.btn-undo{
  width: 70px;
  height: 20px;
  color: white;
  background-color: green;
  border-radius: 5px;
  font-weight: bold;
  margin-bottom: 1px;
}
