.login {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.login__above {
  background-color: #b3e5fc;
  width: 100%;
  display: grid;
  place-content: center;
  height: fit-content;
  margin-top: -50px;
}
.login__gif {
  width: 700px;
}
.login__gif img {
  width: 100%;
  height: 100%;
}
.login__bottom {
  width: 100%;
  height: 100px;
  position: relative;
  background-color: blue;
}

.login__bottom .content__wrapper {
  border-radius: 30px;
  position: absolute;
  top: -131px;
  width: 100%;
  height: 330%;
  background-color: white;
  right: 0;

  left: 0;
}
.login__bottom .content__body {
  width: 400px;
  margin: 0 auto;
  text-align: center;
}

.login__bottom .content__body.signup {
  width: 900px;
}
.login__bottom h3 {
  margin-top: 50px;
  font-size: 2.8rem;
  font-weight: 600;
  color: var(--third-color-green);
}

.login__bottom .auth-form {
  display: flex;
  flex-direction: column;
  margin-top: 35px;
  align-items: center;
}
.login__bottom .auth-form.signup .signup {
  display: flex;
  flex-direction: row;
}
.login__bottom .large-custom-input {
  width: 400px;
  border: 2px solid #e5e5e5;
  border-radius: 13px;
  padding: 18px 25px;
  margin: 8px 0;
  margin-top: 15px;
  font-size: 1.8rem;
}
.login__bottom .large-custom-input:focus {
  border: 2px solid #b9b9b9;
}
.login__bottom .remember-me__wrapper {
  display: flex;
  align-items: center;
}
.login__bottom .remember-me__wrapper span {
  margin-right: 5px;
}

/* login button */
.login__bottom .auth-form > a {
  border: 2px solid transparent;
  background-color: var(--third-color-green);
  color: white;
  font-weight: 600;
  border-radius: 13px;
  padding: 18px 25px;
  margin: 15px 0;
  font-size: 1.8rem;
  width: 400px;
  margin-top: 20px;
}
.login__bottom .auth-form > a:hover {
  background-color: var(--third-color-green-hover);
}
.login__bottom a.gg {
  margin-top: 0;
  background-color: #fff;
  border: 2px solid #e5e5e5;
  color: rgb(92, 92, 92);
}
.login__bottom a.fb {
  margin-top: 0;
  background-color: #fff;
  border: 2px solid #e5e5e5;
  color: rgb(19, 121, 218);
}

.login__bottom .social-login {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 400px;
  margin: 5px auto;
}
.login__bottom .social-login img {
  width: 80%;
  cursor: pointer;
}
.login__bottom .option-login {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 0 5px;
  margin-top: 10px;
}
.login__bottom .session-method {
  display: flex;
  align-items: center;
  padding: 11px 10px;
  border-radius: 10px;
  border: 2px solid #f5f5f5;
  margin: 0 10px;
  margin-top: 0px;
  height: 40px;
  width: fit-content;
}
.login__bottom .session-method img {
  width: 20%;
  margin-right: 10px;
  margin-left: 5px;
}
.login__bottom .session-method img.fb {
  width: 15%;
}

/* bottomo */
.login__bottom .change-auth {
  margin-top: 10px;
  border-top: 3px solid rgba(240, 240, 240, 0.377);
  padding-top: 15px;
}

.login__bottom .change-auth span {
  margin-right: 5px;
}
.login__bottom .change-auth a {
  color: var(--third-color-green);
  font-weight: 600;
}

.button-19 {
  appearance: button;
  background-color: var(--third-color-green);
  border: solid transparent;
  border-radius: 16px;
  border-width: 0 0 4px;
  box-sizing: border-box;
  color: #FFFFFF;
  cursor: pointer;
  display: inline-block;
  font-family: din-round,sans-serif;
  font-size: 15px;
  font-weight: 700;
  letter-spacing: .8px;
  line-height: 20px;
  margin: 20px;
  outline: none;
  overflow: visible;
  padding: 13px 16px;
  text-align: center;
  text-transform: uppercase;
  touch-action: manipulation;
  transform: translateZ(0);
  transition: filter .2s;
  user-select: none;
  -webkit-user-select: none;
  vertical-align: middle;
  white-space: nowrap;
  width: 200px;
}

.button-19:after {
  background-clip: padding-box;
  background-color: var(--third-color-green);
  border: solid transparent;
  border-radius: 16px;
  border-width: 0 0 4px;
  bottom: -4px;
  content: "";
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  z-index: -1;
}

.button-19:main,
.button-19:focus {
  user-select: auto;
}

.button-19:hover:not(:disabled) {
  filter: brightness(1.1);
  -webkit-filter: brightness(1.1);
}

.button-19:disabled {
  cursor: auto;
}